---
title: "Home"
description: "Brian Anders is an Engineer Manager in the tech industry. I'm also a Youtuber, Podcaster, and Musician."
priority: 1.0
homepage: true
pageClasses:
  - 'main'
  - 'home'
layout: base
styles:
  - 'main'
scripts:
  - 'homepage'
---


<%- partial('head/styles', {...locals, path: 'homepage', inlineStyles: true, }) %>


<section class="contributions">
  <div class="content">
    <div class="deck">
    <%
      const model = [
        {
          heading: "Bat Lessons",
          image: "/images/about/contributions/batlessons.webp",
          copyBlock: `${inlineLink('Alex Cash', { href: 'https://alex.cash', external: true })} and I cohost a show about Batman.`,
          links: [
            {
              label: "Website",
              url: locals.batLessons,
            },
            {
              label: "YouTube",
              url: locals.batLessonsYT,
            }
          ]
        }, {
          heading: "Banders Drums",
          image: "/images/drums/logo.png",
          copyBlock: "I have a YouTube channel where I post recordings of me playing drum covers.",
          links: [
            {
              label: "Website",
              path: locals.bandersDrums.path,
            }, {
              label: "YouTube",
              url: locals.bandersDrums.youtube,
            }
          ]
        },
      ]
      model.forEach(({ copyBlock, image, heading, links }) => {
    %>
        <%- partial('contributions-card', Object.assign(locals, { copyBlock, image, heading, links })); %>
      <% }); %>
    </div>
  </div>
  <div class="content">
    <%- blockLink('More', {
      href: '/about/',
    }); %>
  </div>
</section>


<section class="posts">
  <div class="content">
    <header>
      <h2>
        <%- noWidows(`Recent posts`); %>
      </h2>
    </header>
    <%- partial('posts-list', Object.assign(locals, { postCount: 6 })); %>
    <%- blockLink('More posts', {
      href: '/posts/',
    }); %>
  </div>
</section>


<section class="index-music">
  <div class="content">
    <header>
      <h2>
        <%- noWidows(`Music that I have been listening to`); %>
      </h2>
    </header>
    <link rel="preconnect" href="https://ws.audioscrobbler.com" crossorigin />
    <div class="last-fm-module p" data-type="albums" src="/images/posts/last-fm/default.webp">
      <% for (let i = 0; i < 4; i++) { %>
        <%- defaultLastFMModule(); %>
      <% } %>
    </div>
    <div class="center">
      <%- blockLink('More music details', {
        href: '/posts/last-fm/',
      }); %>
    </div>
  </div>
</section>
